[submodule "base"]
	path = base
	url = git@github.com:docker-commands/base.git
[submodule "wkhtmltopdf"]
	path = wkhtmltopdf
	url = git@github.com:docker-commands/wkhtmltopdf.git
[submodule "wkhtmltoimage"]
	path = wkhtmltoimage
	url = git@github.com:docker-commands/wkhtmltoimage.git
