[submodule "base"]
	path = base
	url = git@github.com:docker-commands/base.git
[submodule "wkhtmltopdf"]
	path = wkhtmltopdf
	url = git@github.com:docker-commands/wkhtmltopdf.git
[submodule "wkhtmltoimage"]
	path = wkhtmltoimage
	url = git@github.com:docker-commands/wkhtmltoimage.git
[submodule "the-enforcer"]
	path = the-enforcer
	url = git@github.com:docker-commands/the-enforcer.git

[submodule "graphout"]
	path = graphout
	url = git@github.com:docker-commands/graphout.git
[submodule "headless-chrome"]
	path = headless-chrome
	url = git@github.com:docker-commands/headless-chrome.git
